# Mini-Project Exploratory Data Anaysis On Diwali Sales Data #

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from tabulate import tabulate
import mysql.connector as sql
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings('ignore')

In [ ]:
dff = pd.read_excel("../Niit_Practice/Diwali Sales Data.xlsx")
dff

# Levels for Data Exploration

* Level 0 : Understanding Data
1. How can You Understand the dataset?
2. How to Check the Missing Values in Each Columns?
3. How Can we Saparate the Categorical And Numerical columns?
4. Which method is used to impute missing values ?
5. How Can you Calculate the Measures of Central Tendency For Categorical Columns?
6. How Can you Calculate the Measures of Central Tendency For Numerical Columns?
7. Visualising skewness for  Numerical Columns ?
8. Visualising outliers in Numerical Columns ? 
9. how can we connect the Data to to Sql database?
10. How can you export the Data from the sql to CSV or Excel?

In [ ]:
dff.head() # Checking top 5 row of Data

In [ ]:
dff.tail() # Checking top 5 row of Data

In [ ]:
dff.Product_Category.value_counts()

In [ ]:
dff.columns = dff.columns.str.replace(' ','',regex= True) # Reducing Columns gaps 
dff

In [ ]:
dff.info() # returns the information about the dataset

In [ ]:
dff.isnull().sum()# Checking nan value in dataset

# * Level 1 : Univariate Analysis

In [ ]:
list_1 = dff.select_dtypes(include="object")
list_2 = dff.select_dtypes(exclude= "object")
print(tabulate({"Categorical":list_1,"numerical":list_2},headers=["Categorical","numerical"]))

In [ ]:
dff.Amount.mean()

In [ ]:
dff.Amount = dff.Amount.fillna(9453.61) # Filling the nan Values in

In [ ]:
dff.State =dff.State.replace('Andhra\xa0Pradesh','Andhra Pradesh',regex= True)# replcing the Wrong name

In [ ]:
dff.Gender.value_counts()

In [ ]:
dff.isnull().sum()

In [ ]:
def info_of_cat():
    for col in list_1 : 
        print(f"Unique value of {col}:{dff[col].unique()}")
        print(f"Unique value of {col}:{dff[col].nunique()}")
        print(f"mode vale of {col}:{dff[col].mode()}")
        print(f"Number of missing values in {col} is {dff[col].isnull().sum()}")
        print("---------------------------------")
        print("")
info_of_cat()

In [ ]:
def info_of_numerical():
    for col in list_2:
        print(f"The mean of the {col} is {dff[col].mean()}")
        print(f"The median of the {col} is {dff[col].median()}")
        print(f"The mode of the {col} is {dff[col].mode()[0]}")
        print(f"The standard deviation of the {col} is {dff[col].std()}")
        print(f"Number of missing values in the {col} is {dff[col].isnull().sum()}")
        print("")
        print("--------------------------------------------------------------------\n")
        
info_of_numerical()

In [ ]:
fig, ax = plt.subplots(figsize= (5, 5))              
sb.boxplot(x = dff["Orders"], ax = ax, color = "g")
plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize= (10, 5))               # Creating the space for the 2 images, first argument in subplots is rows and second is columns and the figure size
sb.histplot(x = dff["Amount"], ax =ax[1], color = "m") # ax[1] means image will plot at the second space
sb.boxplot(x = dff["Amount"], ax = ax[0], color = "g") # ax[0] means image will plot at the second space
plt.show()

In [ ]:
most_Sales_g = dff[(dff.AgeGroup == '26-35')& (dff.Zone == 'Central') ]
most_Sales_g

In [ ]:
#What is the average order value for each age group?
Avg_oder =dff.groupby(['AgeGroup','Gender'])['Orders'].mean()
Avg_oder

In [ ]:
produc_wise = dff.groupby(['Product_Category','Gender'])['Amount'].mean()
produc_wise

In [ ]:
# number of Customers
dff.User_ID.nunique()

In [ ]:
db = sql.connect(host='localhost', user='root',password='PPawde12345',database='Diwali_Sales')

In [ ]:
db_connection = create_engine('mysql+mysqlconnector://root:PPawde12345@localhost/Diwali_Sales')

dff.to_sql('Diwale_Sale_New_DATA', con=db_connection, if_exists='replace', index=False)
db.commit()

In [ ]:
from sqlalchemy import create_engine

# Define the database connection string for MySQL
db_connection = create_engine('mysql+mysqlconnector://root:PPawde12345@localhost/Diwali_Sales')

Central.to_sql('Central', con=db_connection, if_exists='replace', index=False)

with db_connection.connect() as connection:
    connection.execute('COMMIT')